In [3]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')

import numpy as np

from kt_simul.io import ParamTree
# from kt_simul.core.simul_spindle import Metaphase
# from kt_simul.io.simuio import SimuIO
from kt_simul.core import parameters

PARAMFILE = parameters.PARAMFILE
MEASUREFILE = parameters.MEASUREFILE

# Change some parameters
paramtree = ParamTree(PARAMFILE)
paramtree['dt'] = 10
paramtree['span'] = 2000
paramtree['t_A'] = 1750

measuretree = ParamTree(MEASUREFILE, adimentionalized=False)

# Init simu
# meta = Metaphase(verbose=True, paramtree=paramtree, measuretree=measuretree, initial_plug='random')

# Launch simu
# meta.simul()

# Save results
# SimuIO(meta).save("simu.h5")

%matplotlib inline
# Show trajectories (matplotlib needed)
# meta.show()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
from kt_simul.core.components import Spindle

In [44]:
spindle = Spindle('test', paramtree.relative_dic)

In [45]:
ch = spindle.chromosomes[0]

In [46]:
ch.cen_A.plugsites

[<kt_simul.core.components.PlugSite at 0x7fbe403cf588>,
 <kt_simul.core.components.PlugSite at 0x7fbe40364ef0>,
 <kt_simul.core.components.PlugSite at 0x7fbe402897f0>]

In [47]:
spindle.point_df

    plug_state  vx  vy  vz         x         y         z
0          NaN   0   0   0 -0.150000  0.000000  0.000000
1          NaN   0   0   0  0.150000  0.000000  0.000000
2          NaN   0   0   0 -0.064395  0.023305 -0.138442
3            0   0   0   0 -0.064395  0.023305 -0.138442
4            0   0   0   0 -0.064395  0.023305 -0.138442
5            0   0   0   0 -0.064395  0.023305 -0.138442
6          NaN   0   0   0 -0.014395  0.073305 -0.088442
7            0   0   0   0 -0.014395  0.073305 -0.088442
8            0   0   0   0 -0.014395  0.073305 -0.088442
9            0   0   0   0 -0.014395  0.073305 -0.088442
10         NaN   0   0   0  0.006357 -0.107857  0.047900
11           0   0   0   0  0.006357 -0.107857  0.047900
12           0   0   0   0  0.006357 -0.107857  0.047900
13           0   0   0   0  0.006357 -0.107857  0.047900
14         NaN   0   0   0  0.056357 -0.057857  0.097900
15           0   0   0   0  0.056357 -0.057857  0.097900
16           0   0   0   0  0.056357 -0.057857  0.097900
17           0   0   0   0  0.056357 -0.057857  0.097900
18         NaN   0   0   0 -0.065648 -0.109429  0.017591
19           0   0   0   0 -0.065648 -0.109429  0.017591
20           0   0   0   0 -0.065648 -0.109429  0.017591
21           0   0   0   0 -0.065648 -0.109429  0.017591
22         NaN   0   0   0 -0.015648 -0.059429  0.067591
23           0   0   0   0 -0.015648 -0.059429  0.067591
24           0   0   0   0 -0.015648 -0.059429  0.067591
25           0   0   0   0 -0.015648 -0.059429  0.067591

In [49]:
spindle.link_df.head()

,,dx,dy,dz,ux,uy,uz,length
srce,trgt,,,,,,,
0,1,0.300000,0.000000,0.000000,1.000000,0.000000,0.000000,0.300000
2,3,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
0,3,0.085605,0.023305,-0.138442,0.520616,0.141730,-0.841945,0.164431
1,3,-0.214395,0.023305,-0.138442,-0.836597,0.090938,-0.540219,0.256270
2,4,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000

In [2]:
meta = SimuIO().read("simu.h5")
meta.show()

TypeError: can't multiply sequence by non-int of type 'str'